<!DOCTYPE html>
<html>
  <head>
    <title>Book</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <menu>
        <a href="<%= ENV['APP_URL'] %>books">Books</a> &middot; 
        <a href="<%= ENV['APP_URL'] %>authors">Authors</a> &middot; 
      </menu>
      <%= yield %>
    </div>
  </body>
  <footer>
    Created by Rido Atmanto - Copyright &copy; 2022
  </footer>
</html>
